.Group2940 {
    position: absolute;
    width: 90px;
    height: 1456px;
    left: 0px;
    top: 0px;
}

.Group2887 {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 8.38%;
    bottom: 87.64%;
}

.Group2808 {
    height: 36px;
    width: 36px;
    left: 27px;
    top: 122px;
    border-radius: 0px;
}

.typography {
    height: 20px;
    width: 31px;
    left: 29.5px;
    top: 160px;
    border-radius: 0px;
}

.Settext {
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    line-height: 166%;

    letter-spacing: 0.15px;

    color: rgba(0, 0, 0, 0.87);

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;

}

.Rectangle547 {
    height: 36px;
    width: 36px;
    left: 27px;
    top: 122px;
    border-radius: 10px;
    background: rgba(15, 30, 86, 1);

}

.image3 {
    height: 53px;
    width: 53px;
    left: 17px;
    top: 25px;
    border-radius: 0px;
    position: absolute;
}

.vector87 {
    height: 0px;
    width: 90px;
    left: 0px;
    top: 205px;
    border-radius: 0px;
    position: absolute;

    border: 1px solid rgba(229, 229, 229, 1);
}

.vector79 {
    position: absolute;
    height: 0px;
    width: 90px;
    left: 0px;
    top: 96px;
    border-radius: 0px;
    border: 1px solid #E5E5E5;
}

.Rectangle1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 0px;
}

/* .Group2935 {
    height: 60px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
        
}

.Group2909 {
    height: 32px;
    width: 131px;
    left: 1271px;
    top: 14px;
    border-radius: 0px;
    
}

.Group2815 {
    height: 32px;
    width: 109.5px;
    left: 1271px;
    top: 14px;
    border-radius: 0px;

}

.textName {
    height: 22px;
    width: 66px;
    left: 1314.5px;
    top: 18px;
    border-radius: 0px;
}

.StyleName {
    height: 22px;
    width: 66px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;

    font-family: Kanit;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;


    letter-spacing: 0.1px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.Rectangle296 {
    position: absolute;
    left: 88.26%;
    right: 9.51%;
    top: 23.33%;
    bottom: 23.33%;

    border-radius: 47.5px;
}

.Group1243 {
    position: absolute;
    left: 85.49%;
    right: 13.12%;
    top: 30%;
    bottom: 30.78%;
}

.top_bar_bg {
    height: 60px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;


    background: #134B8A;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
} */