.Group2940 {
    position: absolute;
    width: 90px;
    height: 1456px;
    left: 0px;
    top: 0px;
}

.Group2887 {
    position: absolute;
    left: 30%;
    right: 30%;
    top: 8.38%;
    bottom: 87.64%;
}

.image3 {
    position: absolute;
    left: 18.89%;
    right: 22.22%;
    top: 1.72%;
    bottom: 94.64%;

    background: url('https://www.img.in.th/images/a8c9be71ca71a779e679ab622d65e681.png');
}

.vector87 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 14.08%;
    bottom: 85.92%;

    border: 1px solid #E5E5E5;
}

.vector79 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 6.59%;
    bottom: 93.41%;

    border: 1px solid #E5E5E5;

}

.Rectangle1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 0px;
}

.Group2935 {
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 0px;
    top: 0px;
}

.Group2909 {
    position: absolute;
    left: 88.26%;
    right: 2.64%;
    top: 23.33%;
    bottom: 23.33%;
}

.Group1243 {
    position: absolute;
    left: 85.49%;
    right: 13.12%;
    top: 30%;
    bottom: 30.78%;
}

.top_bar_bg {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #134B8A;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}