.Group3672 {
    position: absolute;
    width: 400px;
    height: 40px;
    left: 1002px;
    top: 80px;
}

.SearchName {
    position: absolute;
    left: 70.76%;
    right: 20.35%;
    top: 4.43%;
    bottom: 94.88%;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    /* or 20px */

    letter-spacing: 0.15px;

    /* text / secondary */

    color: rgba(0, 0, 0, 0.54);

}

.Group3691 {
    position: absolute;
    width: 185px;
    height: 40px;
    left: 789px;
    top: 80px;
}

.Vector {
    position: absolute;
    left: 65.76%;
    right: 33.56%;
    top: 4.82%;
    bottom: 95%;


    background: #9E9E9E;
}

.Restaurent {
    position: absolute;
    left: 56.18%;
    right: 37.57%;
    top: 4.38%;
    bottom: 94.93%;

    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;

    letter-spacing: 0.15px;


    color: rgba(0, 0, 0, 0.54);

}

.Rectangle569 {
    position: absolute;
    width: 185px;
    height: 40px;
    left: 789px;
    top: 80px;

    background: #FFFFFF;
    border: 1px solid rgba(19, 75, 138, 1);
    box-sizing: border-box;
    border-radius: 50px;

}